@model List<BurgerMVC.EntityLayer.Concrete.Extra>
@{
    ViewData["Title"] = "ExtraList";
    Layout = "~/Views/Shared/_BurgerLayout.cshtml";
}

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Yan Ürünler
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".burger">Burger</li>
            <li data-filter=".pizza">Pizza</li>
            <li data-filter=".pasta">Pasta</li>
            <li data-filter=".fries">Fries</li>
            <li data-filter=".menu">Menu</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                @foreach (var ekstra in Model)
                {
                    <div class="col-sm-6 col-lg-4 all menu">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    @ekstra.Name
                                </h5>
                                <p>
                                    Patates Kızartması(200gr)
                                </p>
                                <div class="options">
                                    <h6>
                                        @ekstra.Price
                                    </h6>
                                    <a href="">

                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>

